.App{
  /* background-color: black; */
}
.clk{
   
  width:30%;
   border:7px solid rgb(90, 89, 88);
   margin-left: 32%;
   margin-top: 20%;
   border-radius: 50%;
   display:block
   
   
}
.clk h1{
   color: white;
   font-family:cursive;
   text-align: center;
   /* hfhgdhytduyd */

  
 

}
