/* .clk{
   
   width:30%;
    
    color:brown;
    border:7px solid wheat;
    margin-left: 35%;
    margin-top: 20%;
    border-radius: 50%;
    display:block
    
    
}
.clk h1{
    color: white;
    font-family:cursive;
    text-align: center;

   
  

} */

